<div class="navigation-content">
    <div class="navigation-logo">
        <div class="navigation-logo_letter">B</div>
        <div class="navigation-logo_surname">Borisov</div>
    </div>
    <nav class="navigation-nav">
        <ul class="navigation-nav_links">
            <li><a href="#">Главная</a></li>
            <li><a href="#about">Поговорим о</a></li>
            <li><a href="#process">Процесс</a></li>
            <li><a href="#portfolio">Портфолио</a></li>
            <li><a href="#blog">Блог</a></li>
            <li><a href="#tech">Сервисы</a></li>
            <li class="primary"><a href="#contact">Контакты</a></li>
        </ul>
    </nav>
    <div class="navigation-dropdown_wrapper">
        <div class="navigation-toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="navigation-dropdown_menu">
            <li><a href="#">Главная</a></li>
            <li><a href="#about">Поговорим о</a></li>
            <li><a href="#process">Процесс</a></li>
            <li><a href="#portfolio">Портфолио</a></li>
            <li><a href="#blog">Блог</a></li>
            <li><a href="#tech">Сервисы</a></li>
            <li class="primary"><a href="#contact">Контакты</a></li>
        </div>
    </div>
</div>