<div class="tech-container">
    <div class="tech-info">
        <h2 class="tech-info_title">Любимые технологии</h2>
        <p class="tech-info_text">
            Ниже вы можете наблюдать лучших из лучших, тех, кто прошел проверку
            <br/>
            (Ну или же тех, которых личный опыт одобрил)
        </p>
    </div>
    <div class="tech-logos">
        <h3 class="tech-logos_title" style="color: darkgreen">Это БАЗА</h3>
        <div class="tech-basic">
            <div class="tech-item">
                <img src="../../assets/HTML5.png" alt="html" title="ШТМЛЬ"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/CSS3.png" alt="css" title="СИЭСЭС"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/JavaScript.png" alt="js" title="ЖЭС"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Git.png" alt="git" title="ГИТ"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/IE.png" alt="ie" title="ДА"/>
            </div>
        </div>
        <h3 class="tech-logos_title" style="color: #8431CC">В самое сердце</h3>
        <div class="tech-lovely">
            <div class="tech-item">
                <img src="../../assets/Figma.png" alt="figma" title="Раньше было лучше"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Tailwind%20CSS.png" alt="tw-css" title="Хвост-Крыло"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/TypeScript.png" alt="ts" title="Типизация - хоршо"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/React.png" alt="react" title="РЕАКТ"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Redux.png" alt="redux" title="СОМНЕНИЯ МЕНЯ не ПОКИДАЮТ"/>
            </div>
        </div>
        <h3 class="tech-logos_title" style="color: orangered">Без них мы <del>Никто</del></h3>
        <div class="tech-utils">
            <div class="tech-item">
                <img src="../../assets/Babel.png" alt="babel" title="Упрощает жизнь"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Postman.png" alt="postman" title="Упрощает жизнь х2"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Storybook.png" alt="storybook" title="Книга Историй"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Vite.js.png" alt="vite" title="Модно"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Webpack.png" alt="webpack" title="Вечно"/>
            </div>
        </div>
        <h3 class="tech-logos_title" style="color: chocolate">Щупал</h3>
        <div class="tech-semi">
            <div class="tech-item">
                <img src="../../assets/Electron.png" alt="electron" title="Даже так можно (Electron.js)"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/MobX.png" alt="mob" title="ООП в Функциональном"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Sass.png" alt="sass" title="SCSS притнее"/>
            </div>
            <div class="tech-item">
                <img src="../../assets/Vue.js.png" alt="vue" title="Vue3 > Vue2"/>
            </div>
        </div>
        <h3 class="tech-logos_title" style="color: pink">П.М.М.Л.</h3>
        <div class="tech-one-love">
            <div class="tech-item">
                <img src="../../assets/WebStorm.png" alt="webpack" title="Как прохладный лимонад в жаркий день (хоршо х3)"/>
            </div>
        </div>
    </div>
</div>