<div class="testimonial-container">
    <div class="testimonial-header">
        <h2 class="testimonial-header_title">Отзывы</h2>
        <p class="testimonial-header_sub">Эти люди слова на ветер не бросают, так что можете доверять сказанному ниже</p>
    </div>
    <div class="testimonial-content">
        <p class="testimonial-content_text">"О, хой! Этот сайт - просто супер-пупер! Как только я попал на его главную страницу, мои глазки сразу заблестели от удивления! Дизайн как из моей самой любимой ракушечной жижицы, а функционал... просто невероятен! Я нашел все, что нужно - от рецептов крабсбургеров до секретов дружбы с медузой-стеклянушкой. Этот сайт - как подводный мир, полный удивительных открытий и приключений! Отличная работа, друзья!" 🌊💻🍔</p>
        <p class="testimonial-content_author">Спанч Боб</p>
        <p class="testimonial-content_company">Исполнительный директор, Красти Крабс</p>
    </div>
</div>