<div class="about-gradient1"></div>
<div class="about-gradient2"></div>
<div class="about-gradient3"></div>
<div class="about-content">
    <div class="about-preview">
        <div class="about-preview_wrapper">
            <div class="about-preview_speech">
                <div class="about-preview_speech_container">
                    <h1 class="about-preview_title">Привет! Я - <br/> Артём Борисов</h1>
                    <p class="about-preview_text">UI/UX-дизайнер и разработчик из Белгорода, Россия. Стремлюсь создавать эффективные и удобные веб-приложения с помощью тщательно продуманным кодом и ориентированным на пользователя дизайном.</p>
                    <button class="secondary btn-hello">Сказать "Привет!"</button>
                </div>
                <div class="about-preview_tags">
                    <div class="about-preview_tag">
                        <p class="about-preview_semi_title">2 Года</p>
                        <p class="about-preview_sub_title">Опыт</p>
                    </div>
                    <div class="about-preview_tag">
                        <h2 class="about-preview_semi_title">15+</h2>
                        <p class="about-preview_sub_title">Проекты</p>

                    </div>
                    <div class="about-preview_tag">
                        <h2 class="about-preview_semi_title">
                            <i class="fa-solid fa-infinity"></i>
                        </h2>
                        <p class="about-preview_sub_title">Чего-то</p>
                    </div>
                </div>
            </div>
            <div class="about-preview_card">
                <img src="../../assets/me.jpg" alt="Наглая-морда"/>
            </div>
        </div>
        <div class="about-preview_mobile_card">
            <img src="../../assets/me.jpg" alt="Наглая-морда"/>
        </div>
    </div>

    <div class="about-socials">
        <div class="about-socials_wrapper">
            <div class="about-socials_contacts">
                <img src="../../assets/me.jpg" alt="Наглая-морда"/>
                <div class="about-socials_links">
                    <div class="about-socials_link_item"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="about-socials_link_item"><i class="fa-brands fa-dribbble"></i></div>
                    <div class="about-socials_link_item"><i class="fa-solid fa-inbox"></i></div>
                    <div class="about-socials_link_item"><i class="fa-brands fa-behance"></i></div>
                    <div class="about-socials_link_item"><i class="fa-brands fa-vk"></i></div>
                </div>
            </div>
            <div class="about-socials_info">
                <h2 class="about-socials_info-title">Ну тут надо сказать, что я такой разсякой и вот :)</h2>
                <p class="about-socials_info-text">
                    Проектирую и разрабатываю услуги для клиентов, специализирующихся на создании современных веб-сайтов, веб-сервисов и интернет-технологий. Моя страсть — создавать цифровой пользовательский опыт.
                    <br/><br/>
                    Также проектирую и разрабатываю услуги для клиентов, специализирующихся на создании стильных, современных сайтов, веб-сервисов.
                </p>
                <div class="about-social_actions" style="display: flex;gap: 16px">
                    <button class="primary">Мои проекты</button>
                    <button class="tertiary"><i class="fa-solid fa-download"></i> Не надо "скачать"</button>
                </div>
            </div>
        </div>
    </div>
</div>