<div class="blog-container">
    <div class="blog-header">
        <h2 class="blog-header_title">Блог</h2>
        <p class="blog-header_text">Слайдер не делал, просто очень не хочется внедряться в другие файлы, слишком уж красиво придумал велосипед. Ну и немного лень стало, когда попытался, а оно не поехало</p>
    </div>
    <div class="blog-slider_container swiper">
        <div class="blog-slider_container">
            <div class="blog-item">
                <div class="blog-item_cover">
                    <img src="../../assets/1-blog.jpg" alt="4">
                </div>
                <div class="blog-item_description">
                    <p class="blog-item_description_theme">UI-UX DESIGN</p>
                    <h4 class="blog-item_description_title">Панель администрирования</h4>
                </div>
            </div>

            <div class="blog-item tssss">
                <div class="blog-item_cover">
                    <img src="../../assets/2-blog.jpg" alt="4">
                </div>
                <div class="blog-item_description">
                    <p class="blog-item_description_theme">UI-UX DESIGN</p>
                    <h4 class="blog-item_description_title">Панель администрирования</h4>
                </div>
            </div>

            <div class="blog-item tsss2">
                <div class="blog-item_cover">
                    <img src="../../assets/3-blog.jpg" alt="4">
                </div>
                <div class="blog-item_description">
                    <p class="blog-item_description_theme">UI-UX DESIGN</p>
                    <h4 class="blog-item_description_title">Панель администрирования</h4>
                </div>
            </div>
            </div>

        </div>
        <!-- If we need navigation buttons -->
        <button class="blog-button_prev"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="blog-button_next"><i class="fa-solid fa-chevron-right"></i></button>

    </div>
</div>