<div class="skills-container">
    <div class="skills-opinion">
        <h2 class="skills-opinion_title">Какое мое Кунг-фу?</h2>
        <p class="skills-opinion_text">Моя работа - создавать интернет-страницы, которые люди могут посещать каждый день. Всё как кирпичики, краска и магия, с помощью которых я делаю страницы красивыми и интересными. <br/><br/> Я несу в работу свои идеи, я использую волшебные инструменты, которые помогают мне в этом. Так что вот, в двух словах - я создаю интернет-магию для всех!</p>
        <button class="skills-btn primary">Опять ты?</button>
    </div>
    <div class="skills-list">
        <div class="skills-item">
            <h3 class="skills-item_title">Оптовый пользователь <span class="kek">:)</span></h3>
            <p class="skills-item_text">Я знаком с множеством технологий, которые используются для создания веб-сайтов и веб-приложений. Опытный подход к веб-разработке позволяет мне создавать эффективные, масштабируемые и качественные веб-решения для различных клиентов и проектов</p>
        </div>
        <div class="skills-item">
            <h3 class="skills-item_title">Пользователь опыта <span class="kek">-_-</span></h3>
            <p class="skills-item_text">Постоянное обучение - это неотъемлемая часть моей работы в веб-разработке. Стараюсь узнавать новые технологии, следить за последними трендами в отрасли и улучшать свои навыки. Это может включать в себя много теории, но также практическое применение новых знаний в проектах</p>

        </div>
        <div class="skills-item">
            <h3 class="skills-item_title">Паучий девелопмент <span class="kek">@_@</span></h3>
            <p class="skills-item_text">Веб-разработка - это захватывающее направление, где всегда есть место для творчества, новых идей и постоянного развития. Создавать что-то из ничего, видеть, как идеи превращаются в функциональные и красивые веб-приложения, и делиться ими с миром - это ж крутяк) </p>
        </div>
    </div>
</div>